body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 100px;

    background-color: rgb(44, 43, 43);
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

label, input{
    width: 300px;
}
input{
    border-radius: 2rem;

    border: none;
    padding: 10px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.463);
}

button{
    max-width: 200px;
    width: 100%;
    align-self: center;
    border-radius: 2rem;
    background-color: rgb(127, 193, 221);
    border: none;
    padding: 10px;
    margin: 2rem 0px;
    font-size: large;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.463);
}